body {
    font-family: Verdana;
    font-size: 14px;
    padding: 5px;
    padding-bottom: 20px;
    color: #000;
    background-color: #e5e7e8;
}

form {
    padding: 11px;
    background-color: white;
    border: 2px solid #bfbebe;
}

.form-group {
    margin-bottom: 25px;
}

#users-table {
    margin-top: 20px;
    margin-bottom: 40px;
}

#chartdiv {
    width: 100%;
    height: 500px;
    font-size: 11px;
}

thead {
	background-color: #222222;
	color: #fff;
}

th{
	text-align: center;
}

td{
	text-align: center;
}